<div>
  <ul class="services">
    <li *ngFor="let service of services" (click)="onSelect(service)" [class.selected]="service === selectedService">
      <button class="delete-button" (click)="deleteService(service)">Delete</button>
      <div class="service-element">
        <div class="badge">{{service.environment}}</div>
        <div class="name">{{service.name}}</div>
        <div class="saying">{{service.status}}</div>
      </div>
    </li>
  </ul>
  <div class="editarea">
    <button (click)="enableAddMode()">Add New Service</button>
    <div *ngIf="selectedService">
      <div class="editfields">
        <div>
          <label>url: </label>
          <input [(ngModel)]="selectedService.url" placeholder="url" *ngIf="addingService" />
          <label *ngIf="!addingService" class="value">{{selectedService.url}}</label>
        </div>
        <div>
          <label>name: </label>
          <input [(ngModel)]="selectedService.name" placeholder="name" />
        </div>
        <div>
          <label>environment: </label>
          <select [(ngModel)]="selectedService.environment">
			<option value="FNTA">FNTA</option>
			<option value="FNTE">FNTE</option>
			<option value="FNTY">FNTY</option>
		  </select>
        </div>
      </div>
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>
